%footer.container
  .row
    .col-md-2.col-md-offset-1
      %h4 Navigate
      %ul.list-unstyled
        %li
          %a{:href => "#{site.base_url}/about.html", :title => "About"} About
        %li
          %a{:href => "#{site.base_url}/extensions.html", :title => "Extensions"} Extensions
        %li
          %a{:href => "#{site.base_url}/downloads.html", :title => "Download"} Download
    .col-md-2
      %h4 Follow Us
      %ul.list-unstyled
        %li
          %a{:href => "#{site.base_url}/news/index.html", :title => "News"} News
          %a{:href => "#{site.base_url}/news.atom", :title => "Atom"} (Atom Feed)
    .col-md-2
      %h4 Contribute
      %ul.list-unstyled
        %li
          %a{:href => "https://issues.jboss.org/browse/AESH", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://github.com/aeshell/aesh/fork", :title => "Fork"} Fork The Code
    .col-md-3.col-md-offset-1
      %h4 Apache License - v 2.0
      %p All dependencies of this project are available under the APLv2 or a compatible license.
  .row
    .col-md-6.col-md-offset-1
      %h4 LGPL 2.1 License
      %p{:style => "margin-top: 5px; font-size: 80%;"}
        © Copyright 2013 Red Hat, Inc.
        %br
        %i.icon-fire
        Made with
        %a{:href => "https://github.com/jbossorg/bootstrap-community", :style=>"text-decoration: underline;"}JBoss Community Bootstrap
        and
        %a{:href => "http://awestruct.org/", :style=>"text-decoration: underline;"}Awestruct
        %br
        %i.icon-globe
        This website is open source! If you want to improve it,
        %a{:href => "http://github.com/aeshell/aeshell.github.com", :style=>"text-decoration: underline;"}fork the project, and send a pull request.
        %br
        %i.icon-share
        Website released under
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;"}CC BY 3.0.
    .col-md-3.col-md-offset-1
      .jbossbadge
        %a{:href => "http://www.jboss.org/"}
          %img{:src => "http://static.jboss.org/theme/images/common/jbossbadge.png"}/

